.container{
  width: 100%;
  margin-top: 5%;
  top: 30px;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
}

.nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 300px;
}
.page-header{
  display: flex;
  justify-content:space-around;
  align-items: center;

  .nav__header{
    flex-direction: row;
    position: relative;
  .nav__section{
    color: rgb(0,0,0);
    min-width: 30px;
    text-decoration: none;
    font: small-caps bold 22px/1 sans-serif;
  }}
 
  .container-img{
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
    .telegram-img{
      max-width: 35px;
      max-height: 35px;
    }
    .instagram-img{
      max-width: 35px;
      max-height: 35px;
    }
    .gmail-img{
      max-width: 35px;
      min-height: 40px;
    }

  }

}
