.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;

  .title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;


    .stars{
      max-width: 150px;
      max-height: 35px;
    }
    .title{
      font: small-caps bold 70px/1 sans-serif;
    }
    .subtitle{
      font: small-caps bold 18px/1 sans-serif;
    }
  }
}
