<div class="container">
  <h2 id="myLogin">Login</h2>
  <form [formGroup]="loginForm" class="one">
    <div >
      <input  type="email" placeholder="Email" name="email" formControlName="email"/>
    </div>
    <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['password'].touched" >
      Enter email correctly
    </div>
    <div >
      <input type="password" placeholder="Password" name="password" formControlName="password"/>
    </div>
   <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['password'].touched" >
      Enter password correctly
    </div>
    <div id="forgottenPassword">
      <a href="https://risovach.ru/upload/2011/10/comics_Uchilka_orig_1319576083.jpg"
         routerLinkActive="activeLink"
         [routerLinkActiveOptions]="{exact:true}">Forgot Password?</a>
    </div>
  </form>
  <div>
    <div>
      <a [routerLink]="['main']" id="hrefNext">
        <button id="loginButton" (click)="login()">Login</button>
      </a>
    </div>
  </div>
</div>

