.container{
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //padding: 20px;

  .header{
    margin-bottom: 18px;
    font: small-caps bold 35px/1 sans-serif;
  }

  .login{
    width: 100%;
    padding: 12px 20px 12px 30px;
    text-indent: 5px;
    margin: 8px 0 10px;
    font-size: 16px;
    border-radius: 24px;
    display: inline-block;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
  } 
  #forgottenPassword{
    margin: 8px 0 15px;
    display: flex;
    justify-content: center;
    font: small-caps bold 15px/1 sans-serif;
    align-items: center;
  }
  .input__button{
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
    font-size: 18px;
    min-height: 35px;
    min-width: 150px;
    border: 1px solid rgb(255, 255, 255);
  }
}
