.container{
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  #forgottenPassword{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
